[% META title = 'Source Tag Type Created' %]

[% # Output information about the record that was added.  First title.   -%]
<p>Added source tag type '[% source_tag_type.name %]' with description "[% source_tag_type.description %]" and related source [% source_tag_type.source.display_name %].

<p><a href="[% c.uri_for('list') %]">Return to list.</a></p>
