[% # Provide a title -%]
[% META title = 'Works List' -%]

<table>
<tr><th>Title</th><th>Edition</th><th>Author(s)</th><th>DOI Name</th></tr>
[% # Display each work in a table row %]
[% FOREACH work IN works -%]
  <tr>
    <td>[% work.title %] [% work.subtitle %]</td>
    <td>[% work.edition %]</td>
    <td></td>
    <td>[% work.doi_name %]</td>
  </tr>
[% END -%]
</table>
