[% META title = 'Login' -%]

<form method="post" action="[% c.uri_for(c.controller('Users').action_for('do_login')) %] ">
  <table>
    <tr>
      <td>User Name:</td>
      <td><input type="text" name="name" value=""></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" value=""></td>
    </tr>
  </table>
  <input type="submit" name="Submit" value="Submit" />
  <input type="submit" name="Cancel" value="Cancel" />
</form>
